##
## Input/Output
# printf
snippet blog
	blog(${1:LOG_INFO},"module=${2:module} msg=\"${3:message}\" ${4}"${5});

snippet print
	printf("level=${1:info} module=${2:module} msg=\"${3:message}\" ${4}\n"${5});

snippet logfmt
	printf("level=${1:info} id=${2:id} tag=${3:tag} module=${4:module} msg=\"${5:message}\" ${6}\n"${7});
