##
## Input/Output
# printf
snippet print
	print(f"level=${1:info} module=${2:module} msg=\"${3:message}\" ${4}");

snippet log
	logger.${1:info}(f"level=${1:info} module=${2:module} msg=\"${3:message}\" ${4}");
