lazy-lock.json
lazyvim.json
backup/
#

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

CMakeUserPresets.json
opt/
.ccache/
.cmake/
.cmake_build/

Testing/
.ccache/
.cache/
*.orig
.eggs/
_skbuild/
*.swp
.vsc
.clangd/
tags
build/
file*.txt
.<CR>

# .clang-format
Session.vim
swap-pane
.ycm_extra_conf.py
###Custom###
tags
*.vim # Session
.tags
.tags*
cscope*
cscope.in.out
cscope.out
cscope.po.out
*.orig
cmake-build-debug
.idea
clistener
clistener.cbp
output.txt
CPack*
core.*
recovery
file.txt
o_*.txt
*.gz
.vscode/
###CMake###

CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

###C###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

###Linux###

*~

# KDE directory preferences
.directory


###OSX###

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


###Windows###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


###Node###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript


###Python###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.tar.gz
*.gz
*.xz
.vscode/.cmaketools.json
.vscode/c_cpp_properties.json
.vscode/settings.json

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
compile_commands.json
